.login {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.login__btn {
	width: 100%;
	min-height: calc((100vw - 320px) / (1280 - 320) * (50 - 46) + 46px);
	margin: calc((100vw - 320px) / (1280 - 320) * (216 - 173) + 173px) 0 0;
	border: none;
	border-radius: 2px;
	background-color: #fff;
	color: #000;
	font-size: calc((100vw - 320px) / (1280 - 320) * (18 - 16) + 16px);
	line-height: calc((100vw - 320px) / (1280 - 320) * (21.5 - 18) + 18px);
	transition: opacity 0.2s linear;
}

.login__btn:hover {
	opacity: 0.8;
	cursor: pointer;
}

.login__form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.login__input {
	width: calc((100vw - 320px) / (1280 - 320) * (354 - 260) + 260px);
	margin: 0 0 23px;
	outline: none;
	border: none;
	background: none;
	border-bottom: 2px solid #ccc;
	color: #fff;
	font-size: 14px;
	line-height: 30px;
}

.login__input:last-of-type {
	margin: 0;
}

.login__link {
	color: #fff;
	text-decoration: none;
	transition: opacity 0.2s linear;
}

.login__link:hover {
	opacity: 0.6;
	cursor: pointer;
}

.login__text {
	margin-top: calc((100vw - 320px) / (1280 - 320) * (15 - 20) + 20px);
	font-size: 14px;
	line-height: 17px;
}

.login__title {
	margin: calc((100vw - 320px) / (1280 - 320) * (62 - 42) + 42px) 0 calc((100vw - 320px) / (1280 - 320) * (43 - 33) + 33px);
	font-size: calc((100vw - 320px) / (1280 - 320) * (24 - 20) + 20px);
	font-weight: 900;
	line-height: calc((100vw - 320px) / (1280 - 320) * (29 - 21) + 24px);
}
