.profile__btn-edit {
	width: 24px;
	height: 24px;
	outline: none;
	border: 0;
	background: black url("../../../images/edit_btn_d.svg") no-repeat;
	transition: opacity 0.3s ease;
	opacity: 1;
}

@media screen and (max-width: 800px) {
	.profile__btn-edit {
		width: 18px;
		height: 18px;
		background-size: 18px;
	}
}

.profile__btn-edit:hover {
	cursor: pointer;
	opacity: 0.6;
}