.header {
	border-bottom: 1px solid rgba(84, 84, 84, 0.7);
	margin: 0 auto;
	max-width: calc(100% - (200px * 2));
	display: flex;
	justify-content: space-between;
}

@media screen and (max-width: 800px) {
	.header {
		max-width: 100%;
		padding: 0 0 0 27px;
	}
}

@media (min-width: 801px) and (max-width: 1279px) {
	.header {
		max-width: calc(100% - (50px * 2));
	}
}